/* 
*** TYPOGRAPHY ***
font-family: 'Open Sans', sans-serif;
font-family: 'Secular One', sans-serif;

*** COLORS ***
/* CSS HEX
--blood-red: #5c0000ff;
--up-maroon: #751717ff;
--international-orange-engineering: #ba0c0cff;
--red: #ff0000ff;
--misty-rose: #ffebebff;
--honeydew: #ecffebff;
--slimy-green: #27a300ff;
--india-green: #2a850eff;
--pakistan-green: #2d661bff;
--lincoln-green: #005c00ff;

URL: https://coolors.co/5c0000-751717-ba0c0c-ff0000-ffebeb-ecffeb-27a300-2a850e-2d661b-005c00
*/