/* MEDIUM STYLE */
@media (min-width:42.8em) {
/* HEAD */
/*** MAIN MENU ***/
.main-menu-button {
    display: none;
}
.main-menu {
    display: block;
    grid-row: 3;
    grid-column: 1/3;
    margin-bottom: 10px;
}
.main-menu nav ul {
    flex-direction: row;
    text-align: center;
    border-radius: 40px;
    overflow: hidden;
}
.main-menu nav ul li a {
    padding: 10px 5px;
    border: none;
}

/* MAIN */
/*** HOME-PAGE ***/
.home-page {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.hero-banner {
    grid-column: 1/3;

}
.costal-area-summary {
    grid-row: 2/4;
    grid-column: 1/2;
}
.weather-widget {
    grid-row: 2;
    grid-column: 2/3;
}
.fruit-drink {
    grid-row: 3;
}
/******* WEATHER ******/
.weather-widget {
    display: grid;
    box-shadow: 2px 2px 0px #000;;
}
.actual-weather {
    grid-row: 1;
    grid-column: 1/3;

}
.next-day-weather {
    grid-row: 2;
    
}
.weather-card {
    margin: 0;
    box-shadow: none;
}

/****** STORE PICTURES ******/
.store-pictures {

    grid-column: 1/3;
}
.store-pictures img{
    margin: 0 2px;
}

/*** FOOTER ***/
footer {
    display: grid;
}

.social-media-bottom {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    align-self: start;
}

.contact-info-bottom {
    grid-row: 1;
    grid-column: 1;
    align-items: normal;
    margin-left: 20px;
}


.credits {
    max-width: 980px;
    grid-column: 1/3;
    justify-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.2rem;
}
.credits span,
.credits a {
    display: block;
    padding: 0 5px;
    margin: 5px 0;
}
.credits span:nth-child(1),
.credits span:nth-child(2),
.credits span:nth-child(3),
.credits span:nth-child(4) {
    border-right: 2px solid #555;
}
}